
{{#each posts as |post|}}
  <section>
    <header class="startUp container">
      <h2>{{post.title}}</h2>
    </header>


      <div class="gitWork container">
        <h4>Created by {{post.user.name}}</h4>
      </div>
   
  </section>

{{/each}}